
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');
*{
    margin: 0;
    color: #fff;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100%;
    height: 100vh;
    background-image: url('./images/desktop/image-header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav{
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.nav span{
    font-size: 50px;
    font-weight: 700;
    margin-left: 25px;
}
.nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
.nav ul li{
    padding-left: 20px;
    padding-right: 20px;
}
.nav ul li a{
    text-decoration: none;
    padding: 15px 20px;
}
.nav ul li a:hover{
    background-color: #6eceff;
    border-radius: 25px;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}
.title h1{
    font-size: 80px;
    font-family: 'Fraunces', serif;
    font-weight: 900;
}
.title .arrow{
    font-size: 150px;
    margin-top: 30px;
}
@media screen and ( max-width: 600px ) {
    .nav{
        width: 100%;
    }
    .nav span{
        font-size: 30px;
        font-weight: 700;
        margin-left: 25px;
    }
    .nav nav{
        display: none;
    }

    .title h1{
        font-size: 40px;
        font-family: 'Fraunces', serif;
        font-weight: 900;
        text-align: center;
    }
}